@font-face {
    font-family: 'Montserrat';
    src: url('./Fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

.kasa-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}



.kasa-header-nav {
    display: flex;
    justify-content: space-between;
    width: 25%;
    min-width: 215px;
    max-width: 340px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.nav-accueil {
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}

.nav-apropos {
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 770px) {
    .kasa-header {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
    }
    
    .kasa-header-nav {
        font-weight: 500;
        font-size: 12px;
        justify-content: space-around;
        align-items: flex-end;
        min-width: 150px;
    }

    .kasa-header-logo {
        width: 145px;
        height: 47px;
        margin-right: 50px;
    }
}

