@font-face {
    font-family: 'Montserrat';
    src: url('./Fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

.kasa-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    padding-left: 100px;
    padding-right: 100px;
}



.kasa-header-nav {
    display: flex;
    justify-content: space-between;
    width: 25%;
    min-width: 215px;
    max-width: 340px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.nav-accueil {
    line-height: 34.22px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    color: #FF6060;
}

.nav-apropos {
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
}