@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: auto;
  background: #FFFFFF;
  font-family: 'Montserrat';
  padding-top: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
