@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #FFFFFF;
  font-family: 'Montserrat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
